<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>CRUD In Employee</title>
</head>
<body>
{% block home %}
<form method="POST" class="post-form" action="/">  
    {% csrf_token %}   
    <br>  
        <div>  
            <h1>Enter Details</h1>    
        </div>  
        <br> 
        <div>  
            <label>Employee Id:</label>  
              {{ form.id }}  
        </div>  

        <div>  
            <label>Employee Name:</label>  
                {{ form.name }}  
        </div>  

        <div>  
            <label>Employee Salary:</label>  
                {{ form.salary }}  
        </div>  

        <br/>
            <button>Submit</button>  

</form>
{% endblock home %}
</body>
</html>